.elementor-1416 .elementor-element.elementor-element-a6d4769{--display:flex;--min-height:0px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--gap:0px 0px;--background-transition:0.3s;--padding-block-start:10px;--padding-block-end:10px;--padding-inline-start:200px;--padding-inline-end:200px;}.elementor-1416 .elementor-element.elementor-element-a6d4769, .elementor-1416 .elementor-element.elementor-element-a6d4769::before{--border-transition:0.3s;}.elementor-1416 .elementor-element.elementor-element-12cd7fc{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--gap:0px 0px;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-1416 .elementor-element.elementor-element-b36b66f img{width:50%;}.elementor-1416 .elementor-element.elementor-element-b36b66f{width:initial;max-width:initial;}.elementor-1416 .elementor-element.elementor-element-454a58d{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-1416 .elementor-element.elementor-element-e884e79 .elementor-heading-title{color:var( --e-global-color-text );font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:500;}.elementor-1416 .elementor-element.elementor-element-38f3ec5{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-1416 .elementor-element.elementor-element-0aad090 .elementor-heading-title{color:var( --e-global-color-text );font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:500;}.elementor-1416 .elementor-element.elementor-element-a9593fe{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-1416 .elementor-element.elementor-element-b91649a .elementor-heading-title{color:var( --e-global-color-text );font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:500;}.elementor-1416 .elementor-element.elementor-element-ed55a42{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-1416 .elementor-element.elementor-element-6a837b7 .elementor-button{font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:400;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );background-color:#02010100;border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-primary );border-radius:50px 50px 50px 50px;padding:12px 12px 12px 12px;}.elementor-1416 .elementor-element.elementor-element-6a837b7 .elementor-button:hover, .elementor-1416 .elementor-element.elementor-element-6a837b7 .elementor-button:focus{color:var( --e-global-color-secondary );background-color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-1416 .elementor-element.elementor-element-6a837b7 .elementor-button:hover svg, .elementor-1416 .elementor-element.elementor-element-6a837b7 .elementor-button:focus svg{fill:var( --e-global-color-secondary );}.elementor-1416 .elementor-element.elementor-element-8da5f4c{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--gap:0px 0px;--flex-wrap:nowrap;--background-transition:0.3s;--border-radius:50px 50px 50px 50px;box-shadow:0px 0px 30px 0px rgba(0,0,0,0.5);--padding-block-start:0px;--padding-block-end:12px;--padding-inline-start:25px;--padding-inline-end:25px;--position:fixed;bottom:30px;--z-index:20;}body:not(.rtl) .elementor-1416 .elementor-element.elementor-element-8da5f4c{left:50%;}body.rtl .elementor-1416 .elementor-element.elementor-element-8da5f4c{right:50%;}.elementor-1416 .elementor-element.elementor-element-213e282.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-213e282.elementor-view-framed .elementor-icon, .elementor-1416 .elementor-element.elementor-element-213e282.elementor-view-default .elementor-icon{fill:var( --e-global-color-text );color:var( --e-global-color-text );border-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-213e282{--icon-box-icon-margin:0px;width:var( --container-widget-width, 75px );max-width:75px;--container-widget-width:75px;--container-widget-flex-grow:0;}.elementor-1416 .elementor-element.elementor-element-213e282 .elementor-icon{font-size:20px;}.elementor-1416 .elementor-element.elementor-element-213e282 .elementor-icon-box-title{margin-bottom:0px;color:var( --e-global-color-secondary );}.elementor-1416 .elementor-element.elementor-element-213e282 .elementor-icon-box-title, .elementor-1416 .elementor-element.elementor-element-213e282 .elementor-icon-box-title a{font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:600;line-height:1em;}.elementor-1416 .elementor-element.elementor-element-a234d56.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-a234d56.elementor-view-framed .elementor-icon, .elementor-1416 .elementor-element.elementor-element-a234d56.elementor-view-default .elementor-icon{fill:var( --e-global-color-text );color:var( --e-global-color-text );border-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-a234d56{--icon-box-icon-margin:0px;width:var( --container-widget-width, 75px );max-width:75px;--container-widget-width:75px;--container-widget-flex-grow:0;}.elementor-1416 .elementor-element.elementor-element-a234d56 .elementor-icon{font-size:20px;}.elementor-1416 .elementor-element.elementor-element-a234d56 .elementor-icon-box-title{margin-bottom:0px;color:var( --e-global-color-secondary );}.elementor-1416 .elementor-element.elementor-element-a234d56 .elementor-icon-box-title, .elementor-1416 .elementor-element.elementor-element-a234d56 .elementor-icon-box-title a{font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:600;line-height:1em;}.elementor-1416 .elementor-element.elementor-element-0c5b828.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-0c5b828.elementor-view-framed .elementor-icon, .elementor-1416 .elementor-element.elementor-element-0c5b828.elementor-view-default .elementor-icon{fill:var( --e-global-color-text );color:var( --e-global-color-text );border-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-0c5b828{--icon-box-icon-margin:0px;width:var( --container-widget-width, 75px );max-width:75px;--container-widget-width:75px;--container-widget-flex-grow:0;}.elementor-1416 .elementor-element.elementor-element-0c5b828 .elementor-icon{font-size:20px;}.elementor-1416 .elementor-element.elementor-element-0c5b828 .elementor-icon-box-title{margin-bottom:0px;color:var( --e-global-color-secondary );}.elementor-1416 .elementor-element.elementor-element-0c5b828 .elementor-icon-box-title, .elementor-1416 .elementor-element.elementor-element-0c5b828 .elementor-icon-box-title a{font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:600;line-height:1em;}.elementor-1416 .elementor-element.elementor-element-c3c0669.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-c3c0669.elementor-view-framed .elementor-icon, .elementor-1416 .elementor-element.elementor-element-c3c0669.elementor-view-default .elementor-icon{fill:var( --e-global-color-text );color:var( --e-global-color-text );border-color:var( --e-global-color-text );}.elementor-1416 .elementor-element.elementor-element-c3c0669{--icon-box-icon-margin:0px;width:var( --container-widget-width, 75px );max-width:75px;--container-widget-width:75px;--container-widget-flex-grow:0;}.elementor-1416 .elementor-element.elementor-element-c3c0669 .elementor-icon{font-size:20px;}.elementor-1416 .elementor-element.elementor-element-c3c0669 .elementor-icon-box-title{margin-bottom:0px;color:var( --e-global-color-secondary );}.elementor-1416 .elementor-element.elementor-element-c3c0669 .elementor-icon-box-title, .elementor-1416 .elementor-element.elementor-element-c3c0669 .elementor-icon-box-title a{font-family:"San Francisco", Sans-serif;font-size:16px;font-weight:600;line-height:1em;}.elementor-1416 .elementor-element.elementor-element-ff47dfa{--divider-border-style:solid;--divider-color:#00000000;--divider-border-width:60px;width:var( --container-widget-width, 75px );max-width:75px;--container-widget-width:75px;--container-widget-flex-grow:0;top:-33px;z-index:-1;}.elementor-1416 .elementor-element.elementor-element-ff47dfa .elementor-divider-separator{width:100%;}.elementor-1416 .elementor-element.elementor-element-ff47dfa .elementor-divider{padding-top:0px;padding-bottom:0px;}body:not(.rtl) .elementor-1416 .elementor-element.elementor-element-ff47dfa{left:0px;}body.rtl .elementor-1416 .elementor-element.elementor-element-ff47dfa{right:0px;}.elementor-1416 .elementor-element.elementor-element-ff47dfa > .elementor-widget-container{border-radius:50px 50px 50px 50px;box-shadow:0px -15px 30px 0px rgba(0, 0, 0, 0.1);}@media(max-width:1024px){.elementor-1416 .elementor-element.elementor-element-a6d4769{--padding-block-start:5px;--padding-block-end:5px;--padding-inline-start:100px;--padding-inline-end:100px;}.elementor-1416 .elementor-element.elementor-element-b36b66f img{width:60%;}.elementor-1416 .elementor-element.elementor-element-e884e79 .elementor-heading-title{font-size:14px;}.elementor-1416 .elementor-element.elementor-element-0aad090 .elementor-heading-title{font-size:14px;}.elementor-1416 .elementor-element.elementor-element-b91649a .elementor-heading-title{font-size:14px;}.elementor-1416 .elementor-element.elementor-element-6a837b7 .elementor-button{font-size:14px;padding:5px 8px 5px 8px;}}@media(max-width:767px){.elementor-1416 .elementor-element.elementor-element-8da5f4c{--border-radius:50px 50px 0px 0px;--padding-block-start:0px;--padding-block-end:12px;--padding-inline-start:20px;--padding-inline-end:20px;bottom:-1px;}}@media(min-width:768px){.elementor-1416 .elementor-element.elementor-element-12cd7fc{--width:20%;}.elementor-1416 .elementor-element.elementor-element-454a58d{--width:20%;}.elementor-1416 .elementor-element.elementor-element-38f3ec5{--width:20%;}.elementor-1416 .elementor-element.elementor-element-a9593fe{--width:20%;}.elementor-1416 .elementor-element.elementor-element-ed55a42{--width:20%;}}/* Start custom CSS for container, class: .elementor-element-a6d4769 */.elementor-1416 .elementor-element.elementor-element-a6d4769{
background: rgba( 255, 255, 255, 0.80 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}/* End custom CSS */
/* Start custom CSS for divider, class: .elementor-element-ff47dfa */.icon-menu .elementor-widget-divider{
    transition: none;
}
.icon-menu.transition .elementor-widget-divider{
    transition: margin-top 0.3s ease-in-out, opacity 0.1s ease-in-out;
}
.icon-menu .elementor-widget-divider{
    opacity: 0;
    margin-top: 20px;
}
.icon-menu.bubbling .elementor-widget-divider{
    opacity: 1;
    margin-top: 0px;
}
.icon-menu.bubble .elementor-widget-divider{
    transition: all 0.3s ease-in-out, opacity 0.1s ease-in-out;
}
.elementor-1416 .elementor-element.elementor-element-ff47dfa .elementor-widget-container{
    background: var(--background-color);
}
.elementor-1416 .elementor-element.elementor-element-ff47dfa:before{
    content: "";
    position: absolute;
    top: 4px;
    left: -29px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px var(--background-color);
}
.elementor-1416 .elementor-element.elementor-element-ff47dfa:after{
    content: "";
    position: absolute;
    top: 4px;
    right: -29px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px var(--background-color);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-8da5f4c */.elementor-1416 .elementor-element.elementor-element-8da5f4c{
    --background-color: #FFFFFF;
    --menu-active-color: #0066CC;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c{
    width: max-content;
    transform: translateX(-50%);
    transition: none;
    background: var(--background-color);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c:before{
    content: "" !important;
    display: none !important;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition{
    transition: all 0.3s ease-in-out;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.hidden{
    opacity: 0;
    pointer-events: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box.stroke .elementor-icon{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.08em;
  -webkit-text-stroke-color: currentColor;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box .elementor-icon-box-icon a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box .elementor-icon-box-icon span{
    padding-bottom: 9px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px 0 0;
    position: relative;
    z-index: 1;
    transform: translateY(35px);
    transition: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition .elementor-widget-icon-box .elementor-icon-box-icon a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition .elementor-widget-icon-box .elementor-icon-box-icon span{
    transition: all 0.3s ease-in-out;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box.active .elementor-icon-box-icon a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box.active .elementor-icon-box-icon span{
    transform: translateY(0);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box .elementor-icon-box-icon i,
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box .elementor-icon-box-icon svg{
    transition: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition .elementor-widget-icon-box .elementor-icon-box-icon i,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition .elementor-widget-icon-box .elementor-icon-box-icon svg{
    transition: all 0.3s ease-in-out;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box.active .elementor-icon-box-icon i{
    color: var(--menu-active-color);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box.active .elementor-icon-box-icon svg{
    fill: var(--menu-active-color);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-icon-box-content{
    width: 125%;
    transform: translate(-50%,8px);
    position: relative;
    left: 50%;
    opacity: 0; 
    z-index: -1; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    pointer-events: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition .elementor-icon-box-content{
    transition: all 0.3s ease-in-out;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-icon-box.active .elementor-icon-box-content{
    opacity: 1;
    z-index: 2;
    transform: translate(-50%,0px);
    pointer-events: initial;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-icon-box-title a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-icon-box-title span{
    background: var(--menu-active-color);
    padding: 5px 8px;
    border-radius: 10px;
    display: table;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c a:active,
.elementor-1416 .elementor-element.elementor-element-8da5f4c a:focus{
    outline: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c:not(.v2) .elementor-icon-box-title{
    transform: none !important;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c .elementor-widget-html{
    display: none;
}
@media (max-width: 767px){
.elementor-1416 .elementor-element.elementor-element-8da5f4c{
    width: calc(100% + 2px);
    justify-content: center;
}
}



/* Code for version 2 */
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-wrapper{
    display: flex;
    flex-direction: column;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-content{
    order: -1;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-icon a{
    padding: 0;
    margin: 0;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-widget-divider{
    display: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-widget-icon-box .elementor-icon-box-icon a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-widget-icon-box .elementor-icon-box-icon span{
    padding: 30px 0 5px;
    margin: -44px 0 0;
    transform: translateY(0);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-widget-icon-box.active .elementor-icon-box-content {
    transform: translate(-50%,-20px);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-title{
    border: 5px solid var(--background-color);
    border-radius: 17px;
    position: relative;
    box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-title:before,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-title:after{
    content: "";
    position: absolute;
    bottom: 9px;
    width: 13px;
    height: 13px;
    background: transparent;
    border-radius: 50%;
    z-index: -1;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-title:before{
    left: -18px;
    box-shadow: 7px 7px var(--background-color);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-title:after{
    right: -18px;
    box-shadow: -7px 7px var(--background-color);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-content {
    align-items: flex-end;
    width: 200px;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-wrapper{
    position: relative;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-wrapper:before{
    content: "";
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 3;
    left: 50%;
    background: var(--menu-active-color);
    transform: translate(-50%,35px);
    pointer-events: none;
    opacity: 0;
    transition: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-widget-icon-box.active .elementor-icon-box-wrapper:before{
    opacity: 1;
    transform: translate(-50%,0);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition.v2 .elementor-icon-box-wrapper:before{
    transition: all 0.3s ease-in-out;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-icon{
    position: relative;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-icon:before,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-icon:after{
    content: "";
    position: absolute;
    top: -27px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    z-index: 3;
    background: transparent;
    transform: translate(-50%,35px);
    pointer-events: none;
    opacity: 0;
    transition: none;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-icon:before{
    box-shadow: 2px -2px var(--menu-active-color);
    left: calc(50% - 7px);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-icon-box-icon:after{
    box-shadow: -2px -2px var(--menu-active-color);
    left: calc(50% + 7px);
}

.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-widget-icon-box.active .elementor-icon-box-icon:before,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2 .elementor-widget-icon-box.active .elementor-icon-box-icon:after{
    opacity: 1;
    transform: translate(-50%,0);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition.v2 .elementor-icon-box-icon:before,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.transition.v2 .elementor-icon-box-icon:after{
    transition: all 0.3s ease-in-out;
}

@media (max-width: 767px){
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v2{
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
}
}


/* Code for version 3 */
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3{
    --default-text-color: #000;
    --active-icon-color: #fff;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3{
    padding-bottom: 3px;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-icon-box-content{
    opacity: 1;
    z-index: 1;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-icon-box-title a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-icon-box-title span{
    background: none;
    color: var(--default-text-color);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box.active .elementor-icon-box-title a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box.active .elementor-icon-box-title span{
    color: var(--menu-active-color);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box .elementor-icon-box-icon a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box .elementor-icon-box-icon span{
    padding-bottom: 32px;
    margin-top: -19px;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box.active .elementor-icon-box-icon a,
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box.active .elementor-icon-box-icon span{
    transform: translateY(16px);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-icon-box-content{
    transform: translate(-50%,0px);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box.active .elementor-icon-box-content{
    transform: translate(-50%,-3px);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-divider .elementor-widget-container:before{
    content: '';
    position: absolute;
    background: var(--menu-active-color);
    border-radius: 100%;
    top: 5px;
    left: 5px;
    height: calc(100% - 5px*2);
    width: calc(100% - 5px*2);
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-divider{
    top: -24px;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-divider:before {
    top: -6px;
    left: -24px;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-divider:after{
    z-index: -1;
    top: -6px;
    right: -24px;
}
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3 .elementor-widget-icon-box.active .elementor-icon-box-icon i{
    color: var(--active-icon-color);
}
@media (max-width: 767px){
.elementor-1416 .elementor-element.elementor-element-8da5f4c.v3{
    padding-left: 10px;
    padding-right: 10px;
}
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Black.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Heavy.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Semibold.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Ultralight.woff2') format('woff2');
}
@font-face {
	font-family: 'San Francisco';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('./../../2023/09/SFUIDisplay-Thin.woff2') format('woff2');
}
/* End Custom Fonts CSS */